.app-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: #5c65f6;
}

.footer-container {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-container {
    height: calc(100dvh - 48px - 48px - 16px - 16px);
}