<div class="content-container">
    <div class="question-content">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Translate the sentence</mat-card-title>
            </mat-card-header>
            <div class="translate-text-img-container">
                <img mat-card-lg-image src="../../../../../assets/steak-translate-clue.png" alt="Photo of lang text clue">
            </div>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
        
        <div class="text-to-translate-container">
            <p>Ek eet op die naweek rooivleis saam met my familie en vriende.</p>
        </div>
    </div>

    <div class="answer-content">
        <mat-form-field class="input-full-width">
            <mat-label>Translate the above phrease</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>

        <div class="submit-content">
            <button mat-flat-button color="primary">Check</button>
        </div>
    </div>
</div>
